In [1]:
import numpy as np

In [2]:
data = np.load("data.npy")

In [4]:
print(data.shape)
print(data.size)
print(data.dtype)

(350, 4)
1400
float64

In [5]:
# They are 0: age(yrs), 1: height(m), 2: weight(kg) and 3: gender (0 for Male, 1 for female)

In [6]:
np.sort(data[:,0])

array([18., 18., 18., 18., 18., 19., 19., 19., 19., 19., 20., 20., 20.,
       20., 20., 20., 20., 21., 21., 21., 21., 21., 21., 22., 22., 22.,
       22., 22., 22., 22., 23., 23., 23., 24., 24., 24., 24., 24., 25.,
       25., 25., 25., 25., 25., 26., 26., 26., 26., 26., 26., 26., 27.,
       27., 27., 27., 27., 27., 27., 27., 27., 27., 27., 28., 28., 28.,
       28., 28., 28., 29., 29., 29., 29., 29., 29., 29., 29., 29., 30.,
       30., 30., 30., 30., 30., 30., 31., 31., 31., 31., 31., 31., 31.,
       31., 31., 31., 31., 32., 32., 32., 32., 32., 32., 33., 33., 33.,
       33., 33., 33., 33., 34., 34., 34., 34., 34., 34., 34., 34., 34.,
       34., 34., 34., 34., 34., 34., 34., 35., 35., 35., 35., 35., 35.,
       35., 35., 35., 36., 36., 36., 36., 36., 36., 36., 36., 36., 36.,
       36., 37., 37., 37., 37., 37., 37., 37., 37., 37., 38., 38., 38.,
       38., 38., 38., 39., 39., 39., 39., 39., 39., 39., 40., 40., 40.,
       40., 40., 40., 40., 40., 40., 40., 40., 40., 41., 41., 41., 41.,
       42., 42., 42., 42., 42., 42., 42., 42., 43., 43., 43., 43., 43.,
       43., 44., 44., 44., 44., 45., 45., 45., 45., 45., 45., 45., 46.,
       46., 46., 46., 46., 46., 46., 46., 46., 46., 47., 47., 47., 47.,
       47., 47., 47., 47., 47., 47., 47., 47., 48., 48., 48., 48., 48.,
       49., 49., 49., 49., 49., 49., 49., 49., 49., 49., 50., 50., 50.,
       50., 50., 50., 50., 50., 50., 51., 51., 51., 51., 51., 51., 51.,
       51., 51., 51., 51., 52., 52., 52., 52., 52., 52., 52., 53., 53.,
       53., 53., 53., 54., 54., 54., 54., 54., 55., 55., 55., 55., 55.,
       55., 55., 55., 55., 55., 56., 56., 56., 56., 56., 56., 57., 57.,
       57., 57., 57., 57., 57., 57., 57., 58., 58., 58., 58., 58., 58.,
       58., 58., 58., 59., 59., 59., 60., 60., 60., 60., 60., 60., 60.,
       60., 61., 61., 61., 61., 61., 61., 62., 62., 62., 62., 62., 62.,
       62., 63., 63., 63., 63., 64., 64., 64., 64., 64., 64., 64.])

In [10]:
data_age_sorted = data[np.argsort(data[:,0])]

In [14]:
# Sort male rows acc to height
male = data[data[:,3]==0]
data_males_height_sorted = male[np.argsort(male[:,1])]
data_males_height_sorted

array([[ 64.        ,   1.2       ,  91.08570354,   0.        ],
       [ 34.        ,   1.2       ,  87.98055819,   0.        ],
       [ 58.        ,   1.2       ,  30.        ,   0.        ],
       [ 55.        ,   1.2       ,  30.        ,   0.        ],
       [ 39.        ,   1.2       , 185.26701563,   0.        ],
       [ 34.        ,   1.2       , 103.37046315,   0.        ],
       [ 27.        ,   1.2       ,  31.28813517,   0.        ],
       [ 54.        ,   1.2       , 145.90388905,   0.        ],
       [ 43.        ,   1.2       ,  99.62573951,   0.        ],
       [ 45.        ,   1.2       ,  30.        ,   0.        ],
       [ 61.        ,   1.2       ,  30.        ,   0.        ],
       [ 50.        ,   1.2       ,  30.        ,   0.        ],
       [ 47.        ,   1.2       , 199.22766361,   0.        ],
       [ 27.        ,   1.2       , 145.08042902,   0.        ],
       [ 47.        ,   1.2       ,  65.57458413,   0.        ],
       [ 31.        ,   1.2       ,  75.09510416,   0.        ],
       [ 30.        ,   1.2       , 133.1155883 ,   0.        ],
       [ 26.        ,   1.2       ,  88.61226273,   0.        ],
       [ 54.        ,   1.2       ,  30.        ,   0.        ],
       [ 31.        ,   1.2       ,  39.52268837,   0.        ],
       [ 21.        ,   1.2       ,  30.        ,   0.        ],
       [ 33.        ,   1.2       , 131.89196762,   0.        ],
       [ 29.        ,   1.2       ,  85.85493785,   0.        ],
       [ 34.        ,   1.2       ,  33.76246278,   0.        ],
       [ 31.        ,   1.2       ,  37.01443543,   0.        ],
       [ 63.        ,   1.20463353,  58.78312894,   0.        ],
       [ 30.        ,   1.20505293,  30.        ,   0.        ],
       [ 62.        ,   1.20630554, 189.72240828,   0.        ],
       [ 57.        ,   1.21786816,  88.81140271,   0.        ],
       [ 37.        ,   1.22502622, 130.03294952,   0.        ],
       [ 23.        ,   1.23630653,  30.        ,   0.        ],
       [ 48.        ,   1.23947055, 101.52863447,   0.        ],
       [ 22.        ,   1.24022155,  30.        ,   0.        ],
       [ 38.        ,   1.24206948,  69.4251911 ,   0.        ],
       [ 56.        ,   1.27375502, 111.18379573,   0.        ],
       [ 57.        ,   1.28240248,  47.03640186,   0.        ],
       [ 57.        ,   1.2847131 , 213.32472256,   0.        ],
       [ 34.        ,   1.30702978,  76.53847543,   0.        ],
       [ 39.        ,   1.30944898,  49.5652249 ,   0.        ],
       [ 34.        ,   1.31072318,  30.        ,   0.        ],
       [ 59.        ,   1.313627  , 118.08857136,   0.        ],
       [ 25.        ,   1.31976783,  30.        ,   0.        ],
       [ 33.        ,   1.33158852,  77.38815476,   0.        ],
       [ 27.        ,   1.33645629, 103.11767091,   0.        ],
       [ 33.        ,   1.35151509, 134.08040282,   0.        ],
       [ 31.        ,   1.35178149, 133.14738591,   0.        ],
       [ 19.        ,   1.36639512,  51.92151791,   0.        ],
       [ 51.        ,   1.36678124,  86.01770006,   0.        ],
       [ 40.        ,   1.36995905,  30.        ,   0.        ],
       [ 26.        ,   1.38213306, 159.34591175,   0.        ],
       [ 57.        ,   1.38523052,  30.        ,   0.        ],
       [ 37.        ,   1.41706472,  30.        ,   0.        ],
       [ 28.        ,   1.43300993,  91.68927461,   0.        ],
       [ 53.        ,   1.44592545, 145.51767164,   0.        ],
       [ 36.        ,   1.46269564,  30.        ,   0.        ],
       [ 36.        ,   1.47002979,  30.        ,   0.        ],
       [ 26.        ,   1.47771269,  43.20880077,   0.        ],
       [ 52.        ,   1.48744276,  30.        ,   0.        ],
       [ 26.        ,   1.51466931, 152.8119692 ,   0.        ],
       [ 31.        ,   1.52107542, 192.54815105,   0.        ],
       [ 40.        ,   1.52425455,  49.74802611,   0.        ],
       [ 41.        ,   1.52820261,  41.06173031,   0.        ],
       [ 33.        ,   1.53067347,  30.        ,   0.        ],
       [ 22.        ,   1.53859876,  30.        ,   0.        ],
       [ 51.        ,   1.54275731,  72.81547312,   0.        ],
       [ 27.        ,   1.56111988, 185.42619593,   0.        ],
       [ 55.        ,   1.5619219 ,  63.61706591,   0.        ],
       [ 53.        ,   1.56723267, 117.89946517,   0.        ],
       [ 37.        ,   1.57519652,  30.        ,   0.        ],
       [ 27.        ,   1.58458193,  98.07922674,   0.        ],
       [ 49.        ,   1.58587715,  30.        ,   0.        ],
       [ 18.        ,   1.60720121,  30.        ,   0.        ],
       [ 20.        ,   1.62190037, 192.31866481,   0.        ],
       [ 49.        ,   1.63556544, 106.9707028 ,   0.        ],
       [ 27.        ,   1.64702976,  83.71946393,   0.        ],
       [ 22.        ,   1.66845403,  65.64016946,   0.        ],
       [ 45.        ,   1.71037118,  30.        ,   0.        ],
       [ 41.        ,   1.71760106,  30.        ,   0.        ],
       [ 50.        ,   1.72475166,  83.04820468,   0.        ],
       [ 24.        ,   1.72957689,  86.18892547,   0.        ],
       [ 18.        ,   1.7459302 ,  30.        ,   0.        ],
       [ 35.        ,   1.75522489,  30.        ,   0.        ],
       [ 29.        ,   1.75812804,  85.24473519,   0.        ],
       [ 53.        ,   1.77448357, 160.29998234,   0.        ],
       [ 29.        ,   1.78536859,  52.97016517,   0.        ],
       [ 52.        ,   1.79189674, 166.01809868,   0.        ],
       [ 34.        ,   1.80985593, 100.53722263,   0.        ],
       [ 24.        ,   1.81092365, 141.01625619,   0.        ],
       [ 60.        ,   1.81300801, 147.04305984,   0.        ],
       [ 46.        ,   1.81927414, 128.33165405,   0.        ],
       [ 52.        ,   1.82863437,  30.        ,   0.        ],
       [ 61.        ,   1.83605787,  30.        ,   0.        ],
       [ 28.        ,   1.85274992,  41.33775023,   0.        ],
       [ 52.        ,   1.85743433,  63.17761453,   0.        ],
       [ 36.        ,   1.85953903,  30.        ,   0.        ],
       [ 36.        ,   1.87393617, 123.53232376,   0.        ],
       [ 50.        ,   1.88889232,  63.22830118,   0.        ],
       [ 55.        ,   1.92433438, 213.57903735,   0.        ],
       [ 52.        ,   1.93732023, 116.04491392,   0.        ],
       [ 34.        ,   1.93986608,  30.        ,   0.        ],
       [ 56.        ,   1.97842755,  67.8431909 ,   0.        ],
       [ 42.        ,   2.00146135,  30.        ,   0.        ],
       [ 58.        ,   2.00892407,  30.        ,   0.        ],
       [ 61.        ,   2.02079306,  30.        ,   0.        ],
       [ 39.        ,   2.02147303,  30.        ,   0.        ],
       [ 32.        ,   2.04870331, 112.83754587,   0.        ],
       [ 51.        ,   2.063849  ,  30.        ,   0.        ],
       [ 50.        ,   2.06674916, 162.66283447,   0.        ],
       [ 27.        ,   2.08099898,  83.43693379,   0.        ],
       [ 48.        ,   2.08833944,  87.14843823,   0.        ],
       [ 58.        ,   2.10488714,  52.74223763,   0.        ],
       [ 25.        ,   2.11025298,  71.53285085,   0.        ],
       [ 52.        ,   2.11961581,  76.44019463,   0.        ],
       [ 44.        ,   2.12867697,  42.54026639,   0.        ],
       [ 46.        ,   2.12918155, 232.46704242,   0.        ],
       [ 49.        ,   2.13      ,  59.38226255,   0.        ],
       [ 51.        ,   2.13      ,  30.        ,   0.        ],
       [ 24.        ,   2.13      , 117.64460597,   0.        ],
       [ 42.        ,   2.13      , 103.79425879,   0.        ],
       [ 34.        ,   2.13      , 164.40683319,   0.        ],
       [ 20.        ,   2.13      ,  30.        ,   0.        ],
       [ 34.        ,   2.13      , 124.60770214,   0.        ],
       [ 48.        ,   2.13      ,  30.        ,   0.        ],
       [ 18.        ,   2.13      ,  30.        ,   0.        ],
       [ 30.        ,   2.13      , 298.99474727,   0.        ],
       [ 53.        ,   2.13      , 211.18754273,   0.        ],
       [ 50.        ,   2.13      ,  30.        ,   0.        ],
       [ 63.        ,   2.13      ,  30.        ,   0.        ],
       [ 60.        ,   2.13      , 107.79453084,   0.        ],
       [ 63.        ,   2.13      , 108.72844673,   0.        ],
       [ 40.        ,   2.13      ,  30.        ,   0.        ],
       [ 50.        ,   2.13      ,  41.28205297,   0.        ],
       [ 29.        ,   2.13      ,  30.        ,   0.        ],
       [ 34.        ,   2.13      ,  51.66641754,   0.        ],
       [ 51.        ,   2.13      ,  30.        ,   0.        ],
       [ 27.        ,   2.13      ,  30.        ,   0.        ],
       [ 35.        ,   2.13      , 121.670883  ,   0.        ],
       [ 34.        ,   2.13      ,  73.59767787,   0.        ],
       [ 21.        ,   2.13      ,  30.        ,   0.        ],
       [ 23.        ,   2.13      ,  30.        ,   0.        ],
       [ 56.        ,   2.13      ,  35.33139259,   0.        ],
       [ 53.        ,   2.13      , 140.08842425,   0.        ],
       [ 27.        ,   2.13      ,  66.90420386,   0.        ],
       [ 40.        ,   2.13      ,  30.        ,   0.        ],
       [ 46.        ,   2.13      ,  30.        ,   0.        ],
       [ 29.        ,   2.13      ,  86.6941722 ,   0.        ],
       [ 45.        ,   2.13      ,  32.86155069,   0.        ],
       [ 35.        ,   2.13      ,  30.        ,   0.        ],
       [ 26.        ,   2.13      ,  71.72844199,   0.        ],
       [ 51.        ,   2.13      ,  30.        ,   0.        ]])

In [17]:
# mean values for age, height and width between males and females.
female = data[data[:,3] == 1]
female_age = np.mean(female[:,0])
male_age = np.mean(male[:,0])
print(male_age-female_age)

-1.5216666666666683

In [18]:
data_height_sorted = data[np.argsort(data[:,1])]

In [25]:
top_25_height = data_height_sorted[-1:-data_height_sorted.shape[0]//4:-1]

In [28]:
male_25_height = np.sum(top_25_height[:,3]==0)
female_25_height = np.sum(top_25_height[:,3]==1)
print(male_25_height)
print(female_25_height)

49
38

In [29]:
data_weight_sorted = np.argsort(data[:,2])
heavy_50 = data_weight_sorted[-1:-50:-1]
heavy_50

array([342, 286, 294, 207, 323, 334, 130, 209, 138, 245, 178, 185, 308,
       283, 240,   0, 229, 125, 227,  44,  10,  92, 237,  16, 136, 102,
       206, 263, 140, 261, 181,  67,  82, 132, 297,  43, 193, 337,  38,
        99,  20, 256, 309, 204,  84, 251, 265, 129, 133])

In [30]:
data_height_sorted = np.argsort(data[:,1])
tall_50 = data_height_sorted[-1:-50:-1]
tall_50

array([288, 164,  13, 117, 252, 123, 105, 211,  90, 305, 122, 196, 265,
        34,  86,  41, 156,  87, 273, 205, 285, 201, 282, 324,  23,  69,
       115,  77,  95, 142, 140, 342, 233, 180, 130, 294, 172, 195,  45,
       264, 267,  47, 181,  81,   8, 290, 295, 232, 345])

In [36]:
big_people_idcs = set(heavy_50) & set(tall_50)
print(len(big_people_idcs))
big_people_idcs_false = set(heavy_50) and set(tall_50)
print(len(big_people_idcs_false))

6
49

In [38]:
print(male.shape)
print(female.shape)

(150, 4)
(200, 4)

In [39]:
total_comb = male.shape[0]*female.shape[0]
total_comb

30000

In [41]:
diff_height = 0
for man in male:
    for woman in female:
        diff_height += (man[1]-woman[1])
print(diff_height)
print(total_comb)
print(diff_height/total_comb)

3148.3262604736474
30000
0.10494420868245491

In [43]:
diff_height = 0
for man in male:
    diff_height += ((female.shape[0]*man[1]) - np.sum(female[:,1]))
print(diff_height)
print(total_comb)
print(diff_height/total_comb)

3148.3262604737774
30000
0.10494420868245925

In [45]:
diff_height = np.mean(male[:,1])-np.mean(female[:,1])
diff_height

0.1049442086824588

In [47]:
# Question 1: Least Cost Path

cost = np.array([[5,7,5,4,1],
[6,1,2,3,2],
[4,3,5,5,4],[1,2,3,4,5]])
cost

array([[5, 7, 5, 4, 1],
       [6, 1, 2, 3, 2],
       [4, 3, 5, 5, 4],
       [1, 2, 3, 4, 5]])

In [53]:
total_cost = np.zeros(cost.shape, dtype=np.int32)
total_cost

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]], dtype=int32)

In [54]:
total_cost[-1,0] = cost[-1,0]
total_cost

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0]], dtype=int32)

In [57]:
for j in range(1, cost.shape[1]):
    total_cost[-1, j] = total_cost[-1, j-1] + cost[-1, j]

In [58]:
total_cost

array([[ 0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0],
       [ 1,  3,  6, 10, 15]], dtype=int32)

In [59]:
cost

array([[5, 7, 5, 4, 1],
       [6, 1, 2, 3, 2],
       [4, 3, 5, 5, 4],
       [1, 2, 3, 4, 5]])

In [65]:
for i in range(cost.shape[0]-2, -1, -1):
    print(i)
    total_cost[i, 0] = total_cost[i+1, 0] + cost[i,0]

2
1
0

In [64]:
total_cost

array([[16,  0,  0,  0,  0],
       [11,  0,  0,  0,  0],
       [ 5,  0,  0,  0,  0],
       [ 1,  3,  6, 10, 15]], dtype=int32)

In [67]:
for i in range(cost.shape[0]-2, -1, -1):
    for j in range(1, cost.shape[1], 1):
        total_cost[i,j] = cost[i,j] + min(total_cost[i+1, j], total_cost[i, j-1])

In [68]:
total_cost

array([[16, 14, 14, 16, 15],
       [11,  7,  9, 12, 14],
       [ 5,  6, 11, 15, 19],
       [ 1,  3,  6, 10, 15]], dtype=int32)

In [69]:
cost

array([[5, 7, 5, 4, 1],
       [6, 1, 2, 3, 2],
       [4, 3, 5, 5, 4],
       [1, 2, 3, 4, 5]])

In [73]:
least_cost = total_cost[0,-1]
print(least_cost)

15

In [74]:
coord = [(cost.shape[0]-1, 0)]

In [76]:
dummy_total_cost = np.array([[5,7,1],
[6,100,20],
[3,3,50]])
dummy_total_cost

array([[  5,   7,   1],
       [  6, 100,  20],
       [  3,   3,  50]])